<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
    <select id="queryAll" resultType="Admin">
        select id, username, password, other from admin
    </select>
    <select id="queryByUsername" resultType="Admin">
        select id, username, password, other from admin where username = #{username}
    </select>
    <!--role-->
    <select id="queryRole" resultType="Role">
        select r.id,r.name from admin a
        join admin_role ar
        on a.id = ar.admin_id
        join role r
        on r.id = ar.role_id
        where a.id = #{adminId}
    </select>
    <!--permission-->
    <select id="queryPermission" resultType="java.lang.String">
        select p.perms from role r
            join role_permission rp
            on r.id = rp.role_id
            join permission p
            on p.id = rp.permission_id
            where r.id = #{roleId}
    </select>
</mapper>